<h2 id="sign_in">Please Sign In</h2>

<form method="POST" action="/sign-in">
	<label for="username">Username</label>
	<input type="text" name="username">
	<br>
	<br>
	<label type="password">Password</label>
	<input type="password" name="password">
	<br>
	<br>
	<input type="submit">

</form>


<link rel="stylesheet" href="style.css">